<h1>About</h1>
<p>This is a website for New Zealand's agricultural community to interact with one another, and with government and industry bodies. This is a fully open and free site, please consider donating to help keep the lights on.</p>
