<% if signed_in? %>

	<table class="front" summary="For signed in users">
		<tr>
			<td class="main">
				<h1 class="micropost">say something...</h1>
				<%= render 'shared/micropost_form' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
			</td>
		</tr>
	</table>

<% else %>

<% end %>

<h1>BH Summer of Code 2011/12</h1>
<p>This is the prototype page for be herd. We are currently in development</p>

<%= link_to "Sign up now", signup_path, :class => "signup_button round"%>
